<%inherit file="base.html"/>
<%def name="head()"> 
<script>
function queryCommunity()
{
    if($("#node_area").val())
    {
        node_area = $("#node_area").val();
        vals = node_area.split(",");
        window.location.href = "/community?node_id="+vals[0]+"&area_id="+vals[1];
    }
    else {window.location.href = "/community";}
    
}

function addCommunity()
{

     if($("#node_area").val()==""){
        alert("请选择区域");
        return;
     }
     node_area = $("#node_area").val();
     vals = node_area.split(",");
     window.location.href = "/community/add?node_id="+vals[0]+"&area_id="+vals[1];
}

function deleteCommunity(nid,aid,cid)
{
    if(confirm("确认删除吗？")){
        window.location.href = "/community/delete?node_id="+nid+"&area_id="+aid+"&community_id="+cid;
    }
}
</script>
</%def> 


<%def name="body()"> 
<div class="content-box">
    <div class="content-box-header">
        <h3>节点信息</h3>
    </div>
    <!-- End .content-box-header -->
    <div class="content-box-content">
        <div class="tab-content default-tab">
        <p>
        <select id="node_area" name="node_area" >
            <option value="">区域选择</option>
             % for node in nodes:
              <optgroup label="${node.name}">
                % for area in node.areas:
                <option value="${node.id},${area.area_id}"  ${is_select("%s,%s"%(node.id,area.area_id),node_area)}  >${area.area_name}</option>
                % endfor
              </optgroup>
             % endfor
        </select>
        <a class="button" href="javascript:queryCommunity();">查询小区</a> 
        <a class="button" href="javascript:addCommunity();">新增小区</a> 
        </p>        
          <table>
            <thead>
              <tr>
                <th>小区编号</th>
                <th>小区名称</th>
                <th>操作</th>
              </tr>
            </thead>          
            <tbody>
            % for community in communitys:
                <tr>
                    <td>${community.community_id}</td>
                    <td>${community.community_name}</td>
                    <td>
                    <a href="/community/update?node_id=${community.node_id}&area_id=${community.area_id}&community_id=${community.community_id}" ><img src="/images/icons/pencil.png" alt="Edit"></a> 
                    <a href="javascript:deleteCommunity('${community.node_id}','${community.area_id}','${community.community_id}');" ><img src="/images/icons/cross.png" alt="Delete"></a> 
                    </td>
                </tr>            
            % endfor             
            </tbody>      
            </table>
      
        </div>
    </div>
</div>

</%def> 