<%inherit file="base.html"/>

<%def name="head()"> 

</%def> 

<%def name="body()"> 
<div class="content-box">
    <div class="content-box-header">
        <h3>系统信息</h3>
    </div>
    <!-- End .content-box-header -->
    <div class="content-box-content">
        <div class="tab-content default-tab">
          <table>
            <tbody>
                <tr>
                    <td>系统版本：</td>
                    <td>v0.1</td>
                    <td>发布时间：</td>
                    <td>2012-08-29</td>
                </tr>            
                <tr>
                    <td>本次登录IP：</td>
                    <td>198.168.8.139</td>
                    <td>本次登录时间：</td>
                    <td>2012-08-29 16:54:21</td>
                </tr>
                <tr>
                    <td>内存使用情况：</td>
                    <td>17M</td>
                    <td>可用内存：</td>
                    <td>1012M</td>
                </tr>                
            </tbody>      
            </table>
        </div>
    </div>
</div>
</%def> 


